docs/n8n/cockpit-performance.workflow.json
{
  "name": "Cockpit Performance — API de Métricas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "cockpit/performance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cockpit-performance"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Verifica Authorization Header\nconst expectedSecret = $env['N8N_SECRET'];\n\nif (!expectedSecret) {\n  throw new Error('500 Internal Server Error: N8N_SECRET not configured in n8n environment');\n}\n\nconst req = $('Webhook').first().json;\nconst headers = req.headers || {};\nconst authHeader = headers.authorization;\nconst ip = headers['x-forwarded-for'] || 'unknown';\n\n// --- PREPARAÇÃO PARA RATE LIMITING ---\n// Exemplo futuro: \n// const staticData = $getWorkflowStaticData('global');\n// staticData[ip] = (staticData[ip] || 0) + 1;\n// if (staticData[ip] > LIMIT) throw new Error('429 Too Many Requests');\n// -------------------------------------\n\nif (!authHeader || authHeader !== `Bearer ${expectedSecret}`) {\n  // LOG GERAL (visível no painel do n8n / docker logs)\n  const partialHeader = authHeader ? authHeader.substring(0, 15) + '...' : 'none';\n  console.warn(JSON.stringify({\n    event: 'UNAUTHORIZED_ACCESS_ATTEMPT',\n    timestamp: new Date().toISOString(),\n    ip: ip,\n    providedHeader: partialHeader,\n    webhookId: 'cockpit-performance'\n  }));\n\n  // Interrompe a execução lançando um erro\n  throw new Error('401 Unauthorized: Invalid Authentication Token');\n}\n\nreturn $input.all();"
      },
      "id": "node-auth-check",
      "name": "Function — Validar Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "SEU_SPREADSHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Dados",
          "mode": "name"
        },
        "options": {
          "headerRow": 1
        }
      },
      "id": "node-sheets",
      "name": "Google Sheets — Ler Dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sua-credential-id",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// STEP 1 — NORMALIZAR\n// Lê os dados brutos do Sheets e normaliza tipos\n// ============================================================\n\nconst gestor = $('Webhook').first().json.query?.gestor || null;\n\nfunction parseBRL(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const str = String(value)\n    .replace(/R\\$\\s*/g, '')\n    .replace(/\\./g, '')\n    .replace(',', '.')\n    .trim();\n  const num = parseFloat(str);\n  return isNaN(num) ? 0 : num;\n}\n\nconst rows = $input.all();\n\nconst normalized = rows\n  .map(item => {\n    const r = item.json;\n    return {\n      cliente:     String(r['Cliente'] || '').trim(),\n      gestor:      String(r['Gestor'] || '').trim(),\n      investimento: parseBRL(r['Total de Investimento']),\n      leads:        parseBRL(r['Total de RESULTADOS (Gerenciador)']),\n      metaCPA:      parseBRL(r['Meta de CPA']),\n    };\n  })\n  .filter(r => r.cliente !== '');\n\n// Filtro por gestor via query param (opcional)\nconst filtered = gestor\n  ? normalized.filter(r => r.gestor.toLowerCase() === gestor.toLowerCase())\n  : normalized;\n\nreturn filtered.map(r => ({ json: r }));"
      },
      "id": "node-normalize",
      "name": "Function — Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// STEP 2 — AGREGAR + CALCULAR MÉTRICAS\n// ============================================================\n\nconst rows = $input.all().map(i => i.json);\n\n// Agrupa por cliente\nconst map = {};\nfor (const row of rows) {\n  if (!map[row.cliente]) {\n    map[row.cliente] = {\n      cliente:      row.cliente,\n      investimento: 0,\n      leads:        0,\n      metaCPA:      0,\n      _metaCount:   0,\n    };\n  }\n  map[row.cliente].investimento += row.investimento;\n  map[row.cliente].leads        += row.leads;\n  if (row.metaCPA > 0) {\n    map[row.cliente].metaCPA   += row.metaCPA;\n    map[row.cliente]._metaCount++;\n  }\n}\n\n// Calcula CPL e status\nconst resultado = Object.values(map).map(c => {\n  const cpl = c.leads > 0\n    ? parseFloat((c.investimento / c.leads).toFixed(2))\n    : 0;\n\n  // Usa média de meta (caso cliente tenha múltiplas linhas)\n  const metaCPA = c._metaCount > 0\n    ? c.metaCPA / c._metaCount\n    : 0;\n\n  let status = 'verde';\n  if (metaCPA > 0) {\n    if (cpl > metaCPA)              status = 'vermelho';\n    else if (cpl > metaCPA * 0.8)   status = 'amarelo';\n  }\n\n  return {\n    cliente: c.cliente,\n    leads:   c.leads,\n    cpl,\n    status,\n  };\n});\n\n// Ordena: vermelho → amarelo → verde\nconst ordem = { vermelho: 0, amarelo: 1, verde: 2 };\nresultado.sort((a, b) => ordem[a.status] - ordem[b.status]);\n\n// Empacota o payload final em um único item\nreturn [{\n  json: {\n    status:        'ok',\n    totalClientes: resultado.length,\n    data:          resultado,\n    geradoEm:      new Date().toISOString(),\n  }\n}];"
      },
      "id": "node-aggregate",
      "name": "Function — Agregar e Calcular",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=120"
              }
            ]
          },
          "responseCode": 200
        }
      },
      "id": "node-response",
      "name": "HTTP Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Function — Validar Auth", "type": "main", "index": 0 }]
      ]
    },
    "Function — Validar Auth": {
      "main": [
        [{ "node": "Google Sheets — Ler Dados", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets — Ler Dados": {
      "main": [
        [{ "node": "Function — Normalizar", "type": "main", "index": 0 }]
      ]
    },
    "Function — Normalizar": {
      "main": [
        [{ "node": "Function — Agregar e Calcular", "type": "main", "index": 0 }]
      ]
    },
    "Function — Agregar e Calcular": {
      "main": [
        [{ "node": "HTTP Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["cockpit", "performance", "api"],
  "triggerCount": 1,
  "updatedAt": "2026-04-18T00:00:00.000Z",
  "versionId": "1"
}
